::-webkit-scrollbar { width: 16px; border: 2px solid black; border-top-width: 0; border-right-width: 0; border-bottom-width: 0; }
::-webkit-scrollbar-thumb { background: black; }
::-webkit-scrollbar-trac { background: white; }
