/*** FileInspector styles ***/
.file-inspector,
.file-inspector > .container,
.file-inspector > .container > .row,
.file-inspector > .container > .row > .col-10 { height: 100%; }
.file-inspector > .container { height: calc(100% - 54px); }
.file-inspector > .container.bottom,
.file-inspector > .container.bottom > .row,
.file-inspector > .container.bottom > .row > .col-10 { height: auto; }
.file-inspector { overflow: hidden; }
.file-inspector .tabs { display: block; height: calc(100% - 16px); }
.file-inspector .tabs-panel { width: calc(100% + 32px); height: calc(100% - 54px); border-width: 0; border-top-width: 2px; border-bottom-width: 2px; border-radius: 0; margin: 0 -16px 16px -16px; overflow: hidden; overflow-y: auto; }
.file-inspector .tabs-panel .file-inspector-files { display: block; height: 100%; }
.file-inspector .tch-grid { height: calc(100% - 72px); }
.file-inspector .tch-grid-body { height: 100%; border-bottom: 0; }
.file-inspector .tch-grid-body > div,
.file-inspector .tch-grid-body > div > div { height: 100%; }
.file-inspector .tch-grid-col { flex-basis: auto; }
.file-inspector .bottom { display: block; transition: transform 0.4s linear; }
.file-inspector .bottom.hidden { display: block; transform: translateY(100%); }
#current-directory { padding-right: 106px; }
#current-directory.drives { padding-right: 140px; }
.file-inspector .current-directory-actions { display: block; position: relative; }
.file-inspector .current-directory-actions-container { display: block; position: absolute; top: 5px; right: 6px; }
.file-inspector .current-directory-actions-container .button { margin-right: 4px; }
.file-inspector .current-directory-actions-container .button-select-container { display: inline-block; margin-right: 4px; }
.file-inspector .current-directory-actions-container .button:last-child,
.file-inspector .current-directory-actions-container .button-select-container:last-child { margin-right: 0; }
.file-inspector .current-directory-actions-container .button-select-container .button { margin-right: 0; }
