/*** FileInspector styles ***/
.file-inspector,
.file-inspector > .container,
.file-inspector > .container > .row,
.file-inspector > .container > .row > .col-10 { height: 100%; }
.file-inspector > .container { height: calc(100% - 54px); }
.file-inspector > .container.bottom,
.file-inspector > .container.bottom > .row,
.file-inspector > .container.bottom > .row > .col-10 { height: auto; }
.file-inspector .tabs { display: block; height: calc(100% - 16px); }
.file-inspector .tabs-panel { width: calc(100% + 32px); height: calc(100% - 54px); border-width: 0; border-top-width: 2px; border-bottom-width: 2px; border-radius: 0; margin: 0 -16px 16px -16px; overflow: hidden; overflow-y: auto; }
.file-inspector .tch-grid-body { border-bottom: 0; }
.file-inspector .tch-grid-body .tch-grid-row { display: none; transform: translateY(-100%); transition: border 0.4s linear, opacity 0.4s linear, transform 0.4s linear; }
.file-inspector .tch-grid-body .general-flex-fade-enter,
.file-inspector .tch-grid-body .general-flex-fade-appear { display: flex; opacity: 0.01; transform: translateY(-100%); }
.file-inspector .tch-grid-body .general-flex-fade-enter-active,
.file-inspector .tch-grid-body .general-flex-fade-enter-done,
.file-inspector .tch-grid-body .general-flex-fade-appear-active { display: flex; opacity: 1; transform: translateY(0); }
.file-inspector .tch-grid-body .general-flex-fade-exit,
.file-inspector .tch-grid-body .general-flex-fade-exit-active { display: flex; opacity: 0.01; transform: translateY(-100%); }
.file-inspector .tch-grid-col { flex-basis: auto; }
#current-directory { padding-right: 106px; }
#current-directory.drives { padding-right: 140px; }
.file-inspector .current-directory-actions { display: block; position: relative; }
.file-inspector .current-directory-actions-container { display: block; position: absolute; top: 5px; right: 6px; }
.file-inspector .current-directory-actions-container .button { margin-right: 4px; }
.file-inspector .current-directory-actions-container .button-select-container { display: inline-block; margin-right: 4px; }
.file-inspector .current-directory-actions-container .button:last-child,
.file-inspector .current-directory-actions-container .button-select-container:last-child { margin-right: 0; }
.file-inspector .current-directory-actions-container .button-select-container .button { margin-right: 0; }
