/*** ButtonSelect styles ***/
.button-select-container { display: block; }
.button-select-list { display: none; position: absolute; overflow: hidden; overflow-y: auto; width: auto; max-width: 162px; height: auto; max-height: 162px; border: 2px solid black; border-radius: 8px; background: white; }
.button-select-list.visible { display: block; }
.button-select-list::-webkit-scrollbar { width: 8px; }
.button-select-list button { display: block; width: 100%; min-height: 32px; border: 0; border-bottom: 2px solid black; border-radius: 0; margin: 0; font-size: 14px; }
.button-select-list button:last-child { min-height: 30px; border-bottom: 0; }
