/*** Link styles ***/
.link { display: inline-block; border-bottom: 2px solid transparent; margin-bottom: -2px; color: #e6c300; text-decoration: none; transition: border 0.4s linear, color 0.4s linear, background 0.4s linear; cursor: pointer; }
.link:hover,
.link:focus { border-bottom: 2px solid #e6c300; color: #e6c300; text-decoration: none; }
