/*** Frame titlebar styles ***/
#titlebar { display: flex; background: black; -webkit-user-select: none; -webkit-app-region: drag; }
#title { display: inline-block; flex-grow: 1; padding: 8px 8px 8px 138px; color: white; font-size: 14px; text-align: center; }
.darwin #title { padding: 8px 138px 8px 8px; }
#titlebar-actions { display: flex; }
#titlebar-actions button { display: block; width: 46px; border: 0; border-bottom: 2px solid black; border-radius: 0; margin: 0; color: white; font-size: 14px; background: transparent; -webkit-app-region: no-drag; }
#titlebar-actions button:hover,
#titlebar-actions button:focus { color: black; background: white; }
#titlebar-actions button svg { display: block; margin: 0 auto; }
#titlebar-maximize .clone { display: none; }
#titlebar-maximize.minimize .square { display: none; }
#titlebar-maximize.minimize .clone { display: block; }
